#root{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(23, 25, 26);
}
.content{
    background-color: rgb(39, 40, 41);
    /* background-color: rgb(39, 40, 41); */
    color: white;
}
.yow-nav-link{
    text-decoration: none;
    color: #3e75ac;
    text-transform: uppercase;
    font-size: small;
}
.descriptif-text{
    font-size: small;
    color: rgb(99, 123, 147);
}
.services{
    padding-top: 10px;
    padding-bottom: 10px;
}
.yow-button{
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: rgb(0, 35, 129);
    color: white;
    font-size: small;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 40px;
    /* border: solid 1px white; */
}
.yow-input{
    background: none;
    outline: none;
    border: solid 1px white;
    font-size: small;
    color: white;
}

.app-box{
    /* border: solid 3px rgb(0, 35, 129);; */
    /* border-radius: 10px; */
    background-color: #00162c34;
}
.app-box-text{
    font-size: smaller;
    text-align: justify;
}
.section-title{
    font-size: smaller;
    color: #5ea0e1;
    font-weight: bolder;
}